# Key is important, without it LLM integration will not work
# Go to https://ollama.com/ and create an API key, it is free
OLLAMA_API_KEY=

# SMTP credentials for sending emails, you can use Mailtrap for testing
SMTP_USER=
SMTP_PASSWORD=

DATABASE_PATH=./data.db
PORT=3001
ALLOW_ORIGINS=http://localhost:3000
OLLAMA_BASE_URL=https://ollama.com
#OLLAMA_MODEL=gpt-oss:20b
OLLAMA_MODEL=gpt-oss:120b
OCR_LANGS=eng