# Key is the most important, other variables can be ommitted if you don't need to change them
OLLAMA_API_KEY=

DATABASE_PATH=./data.db
PORT=3001
ALLOW_ORIGINS=http://localhost:3000
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_MODEL=gpt-oss:120b
OCR_LANGS=eng